body {
	background-image: url('../images/map.jpg');
}

#section {
	border:2px solid red;
	margin-left:350px;
	margin-right: 350px;
	height:2250px;
	background-color: white;
	font-family: 'Marck Script', cursive;
	font-size: 25px;
}

h1 {
	padding-left: 20px;
}

#everyThing	{
	padding-left: 20px;
	display: none;
}

#correct {
	margin-left: 20px;
	display: none;
}

#wrong {
	margin-left: 20px;
	display: none;
}

#start {
	margin-left: 20px;
}

